<%- include('partials/header') %>
<section class="call">
  <h1 class="main-header">Simplify Dorm Issue Management</h1>
  <p>
    Fixmate bridges the gap between students and hall administrators,
    streamlining issue reporting and resolution. With Fixmate, dorm life becomes
    simpler, smoother, and stress-free.
  </p>
  <a href="" id="cta">Get started</a>
</section>
<section class="about">
  <h1 style="text-align: center">About FixMate</h1>
  <p>
    At Fixmate, we believe dorm living should be comfortable and stress-free.
    That’s why we’ve built a platform to simplify communication between students
    and hall administrators. Our mission is to streamline the process of
    reporting, tracking, and resolving dorm-related issues, ensuring faster
    resolutions and improved living experiences. Whether it’s a leaky faucet,
    broken furniture, or any other concern, Fixmate is here to make sure
    problems are addressed efficiently. Join us in creating better dorm
    communities—one fix at a time.
  </p>
</section>
<%- include('partials/footer') %>
