<%- include('partials/header') %>
<div class="call">
  <h1 class="main-header">Welcome to FixMate</h1>
  <h3>Get your room problems fixed at the click of a button</h3>
  <a href="">Get started</a>
</div>
